# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Ignore secrets
.env
*.env
data.txt

# Ignore dependencies & build outputs
node_modules/
dist/
build/
.DS_Store
*.log


# Environment variables & secrets
.env
data.txt
node_modules/
dist/
